# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.class binary
*.eot binary
*.exe binary
*.gif binary
*.jar binary
*.jpg binary
*.kbd binary
*.otf binary
*.pdf binary
*.png binary
*.rdb binary
*.sth binary
*.swf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.xlsx binary
*.zip binary
*.tgz binary

